:root {
  --clr-dark: black;
  --clr-light: #f1f5f9;
  --clr-accent: #e11d48;

  --clr-l-1: darkgoldenrod;
  --clr-l-2: goldenrod;
  --clr-l-3: gold;
  --clr-l-4: #fae384;
  --clr-l-5: white;

  --clr-e-1: darkred;
  --clr-e-2: firebrick;
  --clr-e-3: red;
  --clr-e-4: #fdc4a8;
  --clr-e-5: white;

  --clr-r-1: #1d527e;
  --clr-r-2: blue;
  --clr-r-3: #288ec3;
  --clr-r-4: lightblue;
  --clr-r-5: white;

  --clr-u-1: darkgreen;
  --clr-u-2: green;
  --clr-u-3: #3d9d56;
  --clr-u-4: lightgreen;
  --clr-u-5: white;

  --tier-border-clr: #9f916c;

  --spirit-each-size: 45px;
  
  --tiers-size: 20px;
    
  --skill-tier-size: var(--tiers-size);
  --items-tier-size: var(--tiers-size);
  --spirit-tier-size: var(--tiers-size);

  /* vertical translation /**/
  --smavtr: -92px; /* major skills /**/
  --smivtr: -69px; /* minor skills /**/

  /* horizontal translation /**/
  --smihtr: -49px; /* minor skill horizontal translation */

  /* vertical start position for major skills all classes by class numbers /**/
  --smavpos-1: -3px; /* war /**/
  --smavpos-2: calc( var(--smavpos-1) + var(--smavtr) ); /* ele /**/
  --smavpos-3: calc( var(--smavpos-1) + ( var(--smavtr) * 2 ) + -2px ); /* tao /**/
  --smavpos-4: calc( var(--smavpos-1) + ( var(--smavtr) * 3 ) + -3px ); /* lan /**/
  --smavpos-5: calc( var(--smavpos-1) + ( var(--smavtr) * 4 ) + -5px ); /* abr /**/
  --smavpos-6: calc( var(--smavpos-1) + ( var(--smavtr) * 5 ) + -6px ); /* dar /**/

  /* vertical start position for minor skills all classes by class numbers/**/
  --smivpos-1: -10px; /* war /**/
  --smivpos-2: calc( var(--smivpos-1) + ( var(--smivtr) * 1 ) ); /* ele /**/
  --smivpos-3: calc( var(--smivpos-1) + ( var(--smivtr) * 2 ) ); /* tao /**/
  --smivpos-4: calc( var(--smivpos-1) + ( var(--smivtr) * 3 ) ); /* lan /**/
  --smivpos-5: calc( var(--smivpos-1) + ( var(--smivtr) * 4 ) ); /* abr /**/
  --smivpos-6: calc( var(--smivpos-1) + ( var(--smivtr) * 5 ) ); /* dar /**/

  /* horizontal start position for  major skill - all classes /**/
  --smahpos: -3px; 

  /* horizontal start possition for minor skills by skill numbers /**/
  --smihpos-1: -69px; 
  --smihpos-2: calc( var(--smihpos-1) + ( var(--smihtr) * 1 ) + -2px ); 
  --smihpos-3: calc( var(--smihpos-1) + ( var(--smihtr) * 2 ) + -4px ); 
  --smihpos-4: calc( var(--smihpos-1) + ( var(--smihtr) * 3 ) + -5px ); 
  --smihpos-5: calc( var(--smihpos-1) + ( var(--smihtr) * 4 ) + -7px ); 
  --smihpos-6: calc( var(--smihpos-1) + ( var(--smihtr) * 5 ) + -9px ); 
  --smihpos-7: calc( var(--smihpos-1) + ( var(--smihtr) * 6 ) + -12px ); 
  --smihpos-8: calc( var(--smihpos-1) + ( var(--smihtr) * 7 ) + -14px ); 
  --smihpos-9: calc( var(--smihpos-1) + ( var(--smihtr) * 8 ) + -15px ); 
  --smihpos-10: calc( var(--smihpos-1) + ( var(--smihtr) * 9 ) + -17px ); 
  --smihpos-11: calc( var(--smihpos-1) + ( var(--smihtr) * 10 ) + -19px ); 
  --smihpos-12: calc( var(--smihpos-1) + ( var(--smihtr) * 11 ) + -21px ); 

}
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 20px;
    padding: 0;
    /* line-height: 1.6; */
    /* word-spacing: 1.4px; */
    font-family: 'Roboto', sans-serif;
    color: var(--clr-dark);
    background-color: black;
  }
  
  /* .container { /* desnecesspario */
    /* margin: 0;
    /*border: 1px dashed var(--clr-dark); 
  } /**/
  
  .item { /* desnecessário */
    color: var(--clr-light);
  }

