.nft {
    /* position: relative; */
    margin-top: 20px;
    display: grid;
    grid-template-columns: 150px 1fr;
    /* grid-template-rows: repeat(auto-fit, minmax(1fr, 330px));*/
    grid-auto-rows: min(330px, 1fr);
    grid-gap: 10px;
}

.col1 {
    display: flex;
    /* justify-content: center;
    justify-items: center; */
    /* align-content: center; */
    align-items: start;
}

.card_container{
    /* grid-row: span 1;
    grid-column: span 1; */
    width: 150px;
    display: grid;
    grid-template-rows: repeat(12, 25px);
    grid-template-columns: repeat(12, 1fr);
    /* gap: 5px; */
    border-radius: 10px;
    font-family: 'Roboto' ,sans-serif;
}

.card-item {
    padding: 0;
    /* background-color: lightyellow; */    
    text-align: center;
    text-justify: auto;
    line-height: 14px;
    /* outline: 2px solid black;      */
}

.card-icon {
    display: flex;
    grid-area: 1 / 2 / 3 / 4; /**/
    justify-content: left;
    align-items: center;   
    /* outline: 1px solid gold; */
    
}

.icon-img {
    /* margin: 10px 10% 5% 0; */
    width: 100%;
    height: 58%;
    background: url(https://file.mir4global.com/xdraco/img/common/card/sp-class.webp) no-repeat;
    background-size: auto 140px;
    background-position-x: center;
    /* background-position: 0 25%; */
    /* outline: 2px solid red; */
}

.card-lvl {
    grid-area: 1 / 9 / 3 / 12;
    font-size: 10px;
    text-align: center;
    text-justify: center;
    text-shadow: -1px 1px 1px black;
    padding-top: 10px;
    color:#FFF;
    /* border:0; */
}

.card-lvl span b {
    font-size: 14px;
}

.card-img {
    grid-area: 2 / 2 / 7 / -2; 
    z-index: 5;
    text-align: center;
    text-justify: center;
    border: 0;
    margin-top: -8px;
    /* outline: 2px solid violet; */
}

.card-img-src {
    width:100%;
    height: auto;
}

.card-bottom {  
    grid-area: 6 / 1 / -1 / -1;
    background-color: #FFF;
    /* border: 2px solid violet; */
    /* outline: 3px solid red; */
    border-radius: 0 0 10px 10px;
    display: grid;
    grid-template-rows: repeat(7, 22px);
    grid-template-columns: 15px 1fr 15px;
    color: black;
    z-index: 4; 
    font-size: 12px;

}

.card-name {
    display: flex;
    grid-area: 2 / 2 / 3 / 3;
    justify-content: center;
    align-items: end;
    font-size: 14px;
    /* outline: 2px solid red; */
}

.card-class {
    display:flex;
    grid-area: 3 / 2 / 4 / 3;    
    justify-content: center;
    align-items: end;
    font-size: 10px;
    /* padding-top: 5px; */
    /* outline: 2px solid red; */
}

.card-powerscore {
    display: flex;
    grid-area: 5 / 2 / 6 / 3;
    /* justify-content: end; */
    align-items: center;
    font-size: 10px;
}

.card-price {
    display: flex;
    grid-area: 7 / 2 / 8 / 3;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.power-name,
.price-name { 
    margin-left: 5px;
    margin-right: 10px;
    /* outline: 2px solid violet; */
}

.power-value, 
.price-value {
    margin-right: 5px;
    /* outline: 2px solid red; */
}

.card-bg {
  --_card-border-clr: var(--border-clr);
  --_card-outline-clr: var(--outline-clr);
  --_card-clr-1: var(--clr-1);  --_card-clr-2: var(--clr-2);  --_card-clr-3: var(--clr-3);  --_card-clr-4: var(--clr-4);  --_card-clr-5: var(--clr-5);

  border: 2px solid var(--_card-border-clr);
  outline: 2px double var(--_card-outline-clr);
  outline-offset: 1px;
  background: conic-gradient( from 10deg, 
  var(--_card-clr-4), var(--_card-clr-1), var(--_card-clr-3), var(--_card-clr-1), var(--_card-clr-3), var(--_card-clr-2), var(--_card-clr-3), var(--_card-clr-2),
  var(--_card-clr-5),
  var(--_card-clr-2), var(--_card-clr-3), var(--_card-clr-2), var(--_card-clr-3), var(--_card-clr-1), var(--_card-clr-3), var(--_card-clr-1), var(--_card-clr-4)
  );
}

.card-bg-l { 
  --border-clr: var(--clr-l-2);  --outline-clr: var(--clr-l-1);
  --clr-1: var(--clr-l-1);  --clr-2: var(--clr-l-2);  --clr-3: var(--clr-l-3);  --clr-4: var(--clr-l-4);  --clr-5: var(--clr-l-5);}

.card-bg-e { 
  --border-clr: var(--clr-e-2);  --outline-clr: var(--clr-e-1);
  --clr-1: var(--clr-e-1);  --clr-2: var(--clr-e-2);  --clr-3: var(--clr-e-3);  --clr-4: var(--clr-e-4);  --clr-5: var(--clr-e-5); }

.card-bg-r { 
  --border-clr: var(--clr-r-2); --outline-clr: var(--clr-r-1);
  --clr-1: var(--clr-r-1);   --clr-2: var(--clr-r-2);  --clr-3: var(--clr-r-3);  --clr-4: var(--clr-r-4);  --clr-5: var(--clr-r-5); }

.card-bg-u {
    --border-clr: var(--clr-u-2);  --outline-clr: var(--clr-u-1);  
    --clr-1: var(--clr-u-1);  --clr-2: var(--clr-u-2);  --clr-3: var(--clr-u-3);  --clr-4: var(--clr-u-4); --clr-5: var(--clr-u-5);
}

.card-bottom-bg {
  --_cb-clr-1: var(--clr-1, violet) ! important;
  --_cb-clr-2: var(--clr-2, red) ! important;
  --_cb-clr-3: var(--clr-3, violet) ! important;
  background: linear-gradient(var(--_cb-clr-1) 1%, var(--_cb-clr-2) 5%, var(--_cb-clr-3) 20%);
}

.card-bottom-bg-l {   --clr-1: var(--clr-l-1);   --clr-2: var(--clr-l-4);  --clr-3: var(--clr-l-5); }
.card-bottom-bg-e {   --clr-1: var(--clr-e-1);   --clr-2: var(--clr-e-4);  --clr-3: var(--clr-e-5); }
.card-bottom-bg-r {   --clr-1: var(--clr-r-1);   --clr-2: var(--clr-r-4);  --clr-3: var(--clr-r-5); }
.card-bottom-bg-u {   --clr-1: var(--clr-u-1);   --clr-2: var(--clr-u-4);  --clr-3: var(--clr-u-5); }


/* end of card*/


.details-container{
    /* grid-area: 1 / 2 / 1 / 2; */
    /* grid-row: span 1;
    grid-column: span 1; */
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    align-items: start;
    justify-content: start;
    /* width:100%; */
    gap: 5px;
    /* outline: 2px solid violet; */
    /* background-color: red; */
    /* outline: 2px solid violet; */
}

.flex-container {
      margin: 10px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
}

.each-item {
    position: relative;
    margin: 2px;
    border-radius: 50%; 
    transition: all 50ms;
    background-repeat: no-repeat;
}

.each-item:hover {
    transform: scale(2);
    z-index: 10;
}
/* -------------------------------------- */

.each-item span.type-title{
    --_angle_rotation: -0deg;
    display: flex;
    /* width: 60px; */
    height: 25px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    -webkit-transform: rotate(var(--_angle_rotation));
    -moz-transform: rotate(var(--_angle_rotation));
    -o-transform: rotate(var(--_angle_rotation));
    transform: rotate(var(--_angle_rotation));
    font-weight: bold; 
    color: lightgrey;
    background-color:  darkslategray;
    border: 2px solid white;    
    padding: 2px 4px;
    border-radius: 12px;
    font-family: 'Roboto' ,sans-serif;
    font-size: 12px;
}

.spirit-frame,
.orb-frame,
.dragonItem-frame,
.magicStone-frame,
.mysticalPiece-frame,
.et-frame
{
    --_side-size: var(--spirit-size);
    height: var(--_side-size) !important;
    width: var(--_side-size) !important;
    background-repeat: no-repeat !important;
    background-size: var(--_side-size) !important;
    background-color: rgba(0,0,0, 0.7) !important;
    border-radius: 50%;
}

.training-frame,
.conquest-frame {
    --_side-size: 55px;
    height: var(--_side-size) !important;
    /* width: var(--_side-size) !important;  */
    background-repeat: no-repeat !important;   
    /* background-color: rgba(100,100,100, 0.7) !important; */
    /* border: 1px solid red; */
    margin-left: 3px;
} 

.mystique-frame {
    --_side-size: 40px;
    height: var(--_side-size) !important;
    background-repeat: no-repeat !important;   
    /* background-image: url(https://file.mir4global.com/xdraco/img/common/nft-detail/img-relic-01.webp); */
    background-size: 30px;
    background-position: 0px 5px;
    border-radius: 50px;
    margin-left: 3px;
}

.training-img,
.conquest-img,
.mystique-img {
    position: relative;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    color: #fff !important;
    font-weight: 600;
}

.training-img::before,
.conquest-img::before,
.mystique-img::before {
    content: attr(title-name);
    display: flex;
    justify-content: left;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    width: 40px;
    /* height: 20px; */
    margin-bottom: 1px;
    text-wrap: nowrap;
    white-space: nowrap;
    text-overflow: clip ;

    font-size: 10px;
    font-weight: 500;
    color: #FFF;
    /* background-color: RED !important; */
    /* border: 1px solid green; */
    /* transform: rotate(-20deg);  */
}

.training-lvl,
.conquest-lvl {
    --_size: 36px;
    display: flex;
    height: var(--_size);
    justify-content: center;
    align-items: center;
    background-size: calc(var(--_size)) !important;
    background-image: url(/static/img/bg-training-default.webp);
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Roboto' ,sans-serif;
    /* background-color: violet; */
    /* opacity:  0.25  ; */
}

.mystique-lvl {
    --_size: 36px;
    display: flex;
    height: var(--_size);
    justify-content: center;
    align-items: center;
    background-size: calc(var(--_size)) !important;
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Roboto' ,sans-serif;
    /* background-color: violet; */
    /* opacity:  0.25  ; */
    text-shadow: -1px 1px 1px black;
}


.spirit-bg-5, .orb-bg-5, .magicStone-bg-5, .mysticalPiece-bg-5, .et-bg-5 { background: url(/static/img/img-spirit-bg-legendary.webp); }
.spirit-bg-4, .orb-bg-4, .magicStone-bg-4, .mysticalPiece-bg-4, .et-bg-4 { background: url(/static/img/img-spirit-bg-epic.webp); }
.spirit-bg-3, .orb-bg-3, .magicStone-bg-3, .mysticalPiece-bg-3 { background: url(/static/img/img-spirit-bg-rare.webp); }
.spirit-bg-2, .orb-bg-2, .magicStone-bg-2, .mysticalPiece-bg-2 { background: url(/static/img/img-spirit-bg-uncommon.webp); }

.dragonItem-bg-5 { background: url(/static/img/img-dragon-item-legendary.ab2bb7e.webp); }
.dragonItem-bg-4 { background: url(/static/img/img-dragon-item-epic.0082db6.webp); }
.dragonItem-bg-3 { background: url(/static/img/img-dragon-item-rare.3f14c81.webp); }

.spirit-img {
    font-family: sans-serif;
    --_side-size: var(--spirit-size);
    height: var(--_side-size) !important;
    width: var(--_side-size) !important;
    background-size: calc( var(--spirit-size) - 12px );
    background-repeat: no-repeat;
    background-position: 35% 40%;
    position: relative; 
    border-radius: 50%;
    /* border: 1px solid red; */
}

.orb-img {
    font-family: sans-serif;
    --_side-size: 35px;
    height: var(--_side-size) !important;
    width: var(--_side-size) !important;
    background-size: calc( var(--spirit-size) - 12px );
    background-repeat: no-repeat;
    background-position: 6px 6px;
    position: relative; 
    border-radius: 50%;
    /* border: 1px solid red; */
}

.dragonItem-img {
    font-family: sans-serif;
    --_side-size: var(--spirit-size);
    height: var(--_side-size) !important;
    width: var(--_side-size) !important;
    background-size: calc( var(--spirit-size) - 16px );
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative; 
    border-radius: 50%;
    /* border: 1px solid red; */
}

.magicStone-img {
    font-family: sans-serif;
    --_side-size: 35px;
    height: var(--_side-size) !important;
    width: var(--_side-size) !important;
    background-size: calc( var(--spirit-size) - 10px );
    background-repeat: no-repeat;
    background-position: 5px 5px;
    position: relative; 
    border-radius: 50%;
    /* border: 1px solid red; */
}

.mysticalPiece-img {
    font-family: sans-serif;
    --_side-size: var(--spirit-size);
    height: var(--_side-size) !important;
    width: var(--_side-size) !important;
    background-size: calc( var(--spirit-size) - 12px );
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative; 
    border-radius: 50%;
    /* border: 1px solid red; */
}

.et-img {
    font-family: sans-serif;
    --_side-size: var(--spirit-size);
    height: var(--_side-size) !important;
    width: var(--_side-size) !important;
    background-size: calc( var(--spirit-size) - 15px );
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative; 
    border-radius: 50%;
    /* border: 1px solid red; */
}

.gear-frame {
    --_clr-1: var(--clr-1);
    --_clr-2: var(--clr-2);
    --_clr-3: var(--clr-3);
    --_clr-4: var(--clr-4);
    --_clr-5: var(--clr-5);
    --_side-size: var(--gear-size);
    height: var(--_side-size) !important;
    width: var(--_side-size) !important;
    background: conic-gradient(from 180deg, var(--_clr-1), var(--_clr-2), var(--_clr-3), var(--_clr-3), var(--_clr-4), var(--_clr-3), var(--_clr-1), var(--_clr-3), var(--_clr-1), var(--_clr-2),var(--_clr-1)); 
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: var(--clr-2);
    box-sizing: border-box;
}

.gear-bg-5 { --clr-1: var(--clr-l-1); --clr-2: var(--clr-l-2); --clr-3: var(--clr-l-3); --clr-4: var(--clr-l-4); --clr-5: var(--clr-l-5); }
.gear-bg-4 { --clr-1: var(--clr-e-1); --clr-2: var(--clr-e-2); --clr-3: var(--clr-e-3); --clr-4: var(--clr-e-4); --clr-5: var(--clr-e-5); }
.gear-bg-3 { --clr-1: var(--clr-r-1); --clr-2: var(--clr-r-2); --clr-3: var(--clr-r-3); --clr-4: var(--clr-r-4); --clr-5: var(--clr-r-5); }
.gear-bg-2 { --clr-1: var(--clr-u-1); --clr-2: var(--clr-u-2); --clr-3: var(--clr-u-3); --clr-4: var(--clr-u-4); --clr-5: var(--clr-u-5); }

.gear-img {
    font-family: sans-serif;
    --_side-size: var(--gear-size);
    height: var(--_side-size) !important;
    width: var(--_side-size) !important;
    background-size: calc( var(--gear-size) - 15px );
    background-repeat: no-repeat;
    background-position: 35% 35%;
    position: relative;

}

.gear-img[data-enchance]:not([data-enchance=""])::before,
.spirit-img[data-enchance]:not([data-enchance=""])::before,
.orb-img[data-enchance]:not([data-enchance=""])::before,
.dragonItem-img[data-enchance]:not([data-enchance=""])::before,
.magicStone-img[data-enchance]:not([data-enchance=""])::before,
.mysticalPiece-img[data-enchance]:not([data-enchance=""])::before,
.et-img[data-enchance]:not([data-enchance=""])::before
{
    content: attr(data-enchance);
    position: absolute;
    top: -6px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    /* border: 2px solid green; */
    border-radius: 50%;
    color: white;
    padding: 2px;
    font-size: 9px;
    font-weight: 800;
    text-shadow: -1px 2px 1px #222;

}

.gear-img[data-tier]:not([data-tier=""])::after,
.spirit-img[data-tier]:not([data-tier=""])::after,
.orb-img[data-tier]:not([data-tier=""])::after,
.magicStone-img[data-tier]:not([data-tier=""])::after,
.et-img[data-tier]:not([data-tier=""])::after
{
    content: attr(data-tier);
    position: absolute;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom : -2px;
    left: -2px;
    border: 1px solid var(--clr-l-1);
    background-color: rgba(17, 17, 17, 0.7);
    color: #EEE;
    border-radius: 50%;
    font-size: 8px;
    font-weight: 600;
    /* line-height: 8px; */
    padding: 2px;
    box-sizing:content-box;
}

.skill-bg {
    border: 2px solid red;
    /* background-clip: content-box; */  
    background: url(/static/img/sp-skill2.webp) no-repeat;
    background-size: 469px;
    position: relative;
    font-family: 'Roboto' ,sans-serif;
}

.skill-major {
    --_side-size: var(--skill-major-size);
    height: var(--_side-size) !important;
    width: var(--_side-size) !important;
}

.skill-minor {
    --_side-size: var(--skill-minor-size);
    height: var(--_side-size) !important;
    width: var(--_side-size) !important;
}

.skill-major::before {
    content: attr(skill-enchance);
    position: absolute;
    top: -4px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    /* border: 2px solid green; */
    border-radius: 50%;
    color: white;
    padding: 2px;
    font-size: 10px;
    font-weight: 600;
    text-shadow: -1px 2px 1px #222;
}

.skill-major::after {
    content: attr(skill-lvl);
    position: absolute;
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom : -2px;
    left: -2px;
    outline: 1px solid var(--clr-l-1);
    background-color: rgba(17, 17, 17, 0.7);
    color: #EEE;
    font-size: 8px;
    font-weight: 400;
    line-height: 8px;
    padding: 1px 3px;
    border-radius: 10px;
    font-family: 'Roboto' ,sans-serif;
}

.skill-minor::before {
    content: attr(skill-enchance);
    position: absolute;
    top: -4px;
    right: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    /* border: 2px solid green; */
    border-radius: 50%;
    color: white;
    padding: 2px;
    font-size: 9px;
    font-weight: 600;
    text-shadow: -1px 2px 1px #222;
}

.skill-minor::after {
    content: attr(skill-lvl);
    position: absolute;
    --_skill-size: 16px;
    width: var(--_skill-size);
    height: var(--_skill-size);
    display: flex;
    align-items: center;
    justify-content: center;
    bottom : -8px;
    left: -2px;
    outline: 1px solid var(--clr-l-2);
    background-color: rgba(17, 17, 17, 0.7);
    color: #EEE;
    font-size: 8px;
    font-weight: 400;
    /* padding: 1px; */
    border-radius: 50%;
    font-family: 'Roboto' ,sans-serif;
    box-sizing: content-box;
}

.skill-lvl-badge {
    position: absolute;  
    font-family: 'Roboto' ,sans-serif;
    font-size: 8px;
    outline: 2px solid GOLD;
    background-color: #111;
    color: #EEE;
    font-weight: 400;
}

.skill-lvl-major {
    top: 29px;
    left: 0px;
      padding: 1px 4px;
      border-radius: 10px;
}

.skill-lvl-minor {
    top: 15px;
    left: -2px;
      padding: 2px;
    border-radius: 50%;
}

.skill1-1 { background-position: var(--skill-major-left) var(--skill-major-top-1) !important; }
.skill2-1 { background-position: var(--skill-minor-left-2) var(--skill-minor-top-1) !important; }
.skill3-1 { background-position: var(--skill-minor-left-3) var(--skill-minor-top-1) !important; }
.skill4-1 { background-position: var(--skill-minor-left-4) var(--skill-minor-top-1) !important; }
.skill5-1 { background-position: var(--skill-minor-left-5) var(--skill-minor-top-1) !important; }
.skill6-1 { background-position: var(--skill-minor-left-6)var(--skill-minor-top-1) !important; }
.skill7-1 { background-position: var(--skill-minor-left-7) var(--skill-minor-top-1) !important; }
.skill8-1 { background-position: var(--skill-minor-left-8) var(--skill-minor-top-1) !important; }
.skill9-1 { background-position: var(--skill-minor-left-9) var(--skill-minor-top-1) !important; }
.skill10-1 { background-position: var(--skill-minor-left-10) var(--skill-minor-top-1) !important; }
.skill11-1 { background-position: var(--skill-minor-left-11) var(--skill-minor-top-1) !important; }
.skill12-1 { background-position: var(--skill-minor-left-12) var(--skill-minor-top-1) !important; }
.skill13-1 { background-position: var(--skill-minor-left-13) var(--skill-minor-top-1) !important; }

.skill1-2 { background-position: var(--skill-major-left) var(--skill-major-top-2) !important; }
.skill2-2 { background-position: var(--skill-minor-left-2) var(--skill-minor-top-2) !important; }
.skill3-2 { background-position: var(--skill-minor-left-3) var(--skill-minor-top-2) !important; }
.skill4-2 { background-position: var(--skill-minor-left-4) var(--skill-minor-top-2) !important; }
.skill5-2 { background-position: var(--skill-minor-left-5) var(--skill-minor-top-2) !important; }
.skill6-2 { background-position: var(--skill-minor-left-6)var(--skill-minor-top-2) !important; }
.skill7-2 { background-position: var(--skill-minor-left-7) var(--skill-minor-top-2) !important; }
.skill8-2 { background-position: var(--skill-minor-left-8) var(--skill-minor-top-2) !important; }
.skill9-2 { background-position: var(--skill-minor-left-9) var(--skill-minor-top-2) !important; }
.skill10-2 { background-position: var(--skill-minor-left-10) var(--skill-minor-top-2) !important; }
.skill11-2 { background-position: var(--skill-minor-left-11) var(--skill-minor-top-2) !important; }
.skill12-2 { background-position: var(--skill-minor-left-12) var(--skill-minor-top-2) !important; }
.skill13-2 { background-position: var(--skill-minor-left-13) var(--skill-minor-top-2) !important; }

.skill1-3 { background-position: var(--skill-major-left) var(--skill-major-top-3) !important; }
.skill2-3 { background-position: var(--skill-minor-left-2) var(--skill-minor-top-3) !important; }
.skill3-3 { background-position: var(--skill-minor-left-3) var(--skill-minor-top-3) !important; }
.skill4-3 { background-position: var(--skill-minor-left-4) var(--skill-minor-top-3) !important; }
.skill5-3 { background-position: var(--skill-minor-left-5) var(--skill-minor-top-3) !important; }
.skill6-3 { background-position: var(--skill-minor-left-6) var(--skill-minor-top-3) !important; }
.skill7-3 { background-position: var(--skill-minor-left-7) var(--skill-minor-top-3) !important; }
.skill8-3 { background-position: var(--skill-minor-left-8) var(--skill-minor-top-3) !important; }
.skill9-3 { background-position: var(--skill-minor-left-9) var(--skill-minor-top-3) !important; }
.skill10-3 { background-position: var(--skill-minor-left-10) var(--skill-minor-top-3) !important; }
.skill11-3 { background-position: var(--skill-minor-left-11) var(--skill-minor-top-3) !important; }
.skill12-3 { background-position: var(--skill-minor-left-12) var(--skill-minor-top-3) !important; }
.skill13-3 { background-position: var(--skill-minor-left-13) var(--skill-minor-top-3) !important; }

.skill1-4 { background-position: var(--skill-major-left) var(--skill-major-top-4) !important; }
.skill2-4 { background-position: var(--skill-minor-left-2) var(--skill-minor-top-4) !important; }
.skill3-4 { background-position: var(--skill-minor-left-3) var(--skill-minor-top-4) !important; }
.skill4-4 { background-position: var(--skill-minor-left-4) var(--skill-minor-top-4) !important; }
.skill5-4 { background-position: var(--skill-minor-left-5) var(--skill-minor-top-4) !important; }
.skill6-4 { background-position: var(--skill-minor-left-6) var(--skill-minor-top-4) !important; }
.skill7-4 { background-position: var(--skill-minor-left-7) var(--skill-minor-top-4) !important; }
.skill8-4 { background-position: var(--skill-minor-left-8) var(--skill-minor-top-4) !important; }
.skill9-4 { background-position: var(--skill-minor-left-9) var(--skill-minor-top-4) !important; }
.skill10-4 { background-position: var(--skill-minor-left-10) var(--skill-minor-top-4) !important; }
.skill11-4 { background-position: var(--skill-minor-left-11) var(--skill-minor-top-4) !important; }
.skill12-4 { background-position: var(--skill-minor-left-12) var(--skill-minor-top-4) !important; }
.skill13-4 { background-position: var(--skill-minor-left-13) var(--skill-minor-top-4) !important; }

.skill1-5 { background-position: var(--skill-major-left) var(--skill-major-top-5) !important; }
.skill2-5 { background-position: var(--skill-minor-left-2) var(--skill-minor-top-5) !important; }
.skill3-5 { background-position: var(--skill-minor-left-3) var(--skill-minor-top-5) !important; }
.skill4-5 { background-position: var(--skill-minor-left-4) var(--skill-minor-top-5) !important; }
.skill5-5 { background-position: var(--skill-minor-left-5) var(--skill-minor-top-5) !important; }
.skill6-5 { background-position: var(--skill-minor-left-6) var(--skill-minor-top-5) !important; }
.skill7-5 { background-position: var(--skill-minor-left-7) var(--skill-minor-top-5) !important; }
.skill8-5 { background-position: var(--skill-minor-left-8) var(--skill-minor-top-5) !important; }
.skill9-5 { background-position: var(--skill-minor-left-9) var(--skill-minor-top-5) !important; }
.skill10-5 { background-position: var(--skill-minor-left-10) var(--skill-minor-top-5) !important; }
.skill11-5 { background-position: var(--skill-minor-left-11) var(--skill-minor-top-5) !important; }
.skill12-5 { background-position: var(--skill-minor-left-12) var(--skill-minor-top-5) !important; }
.skill13-5 { background-position: var(--skill-minor-left-13) var(--skill-minor-top-5) !important; }

.skill1-6 { background-position: var(--skill-major-left) var(--skill-major-top-6) !important; }
.skill2-6 { background-position: var(--skill-minor-left-2) var(--skill-minor-top-6) !important; }
.skill3-6 { background-position: var(--skill-minor-left-3) var(--skill-minor-top-6) !important; }
.skill4-6 { background-position: var(--skill-minor-left-4) var(--skill-minor-top-6) !important; }
.skill5-6 { background-position: var(--skill-minor-left-5) var(--skill-minor-top-6) !important; }
.skill6-6 { background-position: var(--skill-minor-left-6) var(--skill-minor-top-6) !important; }
.skill7-6 { background-position: var(--skill-minor-left-7) var(--skill-minor-top-6) !important; }
.skill8-6 { background-position: var(--skill-minor-left-8) var(--skill-minor-top-6) !important; }
.skill9-6 { background-position: var(--skill-minor-left-9) var(--skill-minor-top-6) !important; }
.skill10-6 { background-position: var(--skill-minor-left-10) var(--skill-minor-top-6) !important; }
.skill11-6 { background-position: var(--skill-minor-left-11) var(--skill-minor-top-6) !important; }
.skill12-6 { background-position: var(--skill-minor-left-12) var(--skill-minor-top-6) !important; }
.skill13-6 { background-position: var(--skill-minor-left-13) var(--skill-minor-top-6) !important; }

