:root {
  --clr-dark: black;
  --clr-light: #f1f5f9;
  --clr-accent: #e11d48;

  --clr-l-1: darkgoldenrod;
  --clr-l-2: goldenrod;
  --clr-l-3: gold;
  --clr-l-4: #fae384;
  --clr-l-5: white;

  --clr-e-1: darkred;
  --clr-e-2: firebrick;
  --clr-e-3: red;
  --clr-e-4: #fdc4a8;
  --clr-e-5: white;

  --clr-r-1: #1d527e;
  --clr-r-2: blue;
  --clr-r-3: #288ec3;
  --clr-r-4: lightblue;
  --clr-r-5: white;

  --clr-u-1: darkgreen;
  --clr-u-2: green;
  --clr-u-3: #3d9d56;
  --clr-u-4: lightgreen;
  --clr-u-5: white;

  --tier-border-clr: #9f916c;

  --gear-size: 30px;
  --spirit-size: 35px;
  --dragonItem-size: 40px;
  --skill-major-size: 40px;
  --skill-minor-size: 28px;
  --skill-minor-hor-trans: -36px;
  --skill-major-left: -1px;


  /*number defines the class*/
  --skill-major-top-1: -1px;
  --skill-major-top-2: -49px;
  --skill-major-top-3: -97px;
  --skill-major-top-4: -145px;
  --skill-major-top-5: -193px;
  --skill-major-top-6: -242px;

  /*number defines the class*/
  --skill-minor-top-1: -7px;
  --skill-minor-top-2: -55px;
  --skill-minor-top-3: -103px;
  --skill-minor-top-4: -151px;
  --skill-minor-top-5: -200px;
  --skill-minor-top-6: -248px;

  /*number defines the horizontal image skill*/
  --skill-minor-left-2: -49px;
  --skill-minor-left-3: calc( var(--skill-minor-left-2) + var(--skill-minor-hor-trans) );
  --skill-minor-left-4: calc( var(--skill-minor-left-2)  + var(--skill-minor-hor-trans) * 2 + 1px );
  --skill-minor-left-5: calc( var(--skill-minor-left-2)  + var(--skill-minor-hor-trans) * 3 + 2px );
  --skill-minor-left-6: calc( var(--skill-minor-left-2)  + var(--skill-minor-hor-trans) * 4 + 2px );
  --skill-minor-left-7: calc( var(--skill-minor-left-2)  + var(--skill-minor-hor-trans) * 5 + 2px );
  --skill-minor-left-8: calc( var(--skill-minor-left-2)  + var(--skill-minor-hor-trans) * 6 + 3px );
  --skill-minor-left-9: calc( var(--skill-minor-left-2)  + var(--skill-minor-hor-trans) * 7 + 3px );
  --skill-minor-left-10: calc( var(--skill-minor-left-2)  + var(--skill-minor-hor-trans) * 8 + 3px );
  --skill-minor-left-11: calc( var(--skill-minor-left-2)  + var(--skill-minor-hor-trans) * 9 + 4px );
  --skill-minor-left-12: calc( var(--skill-minor-left-2)  + var(--skill-minor-hor-trans) * 10 + 4px );
  --skill-minor-left-13: calc( var(--skill-minor-left-2)  + var(--skill-minor-hor-trans) * 11 + 5px );

}
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 20px;
    padding: 0;
    /* line-height: 1.6; */
    /* word-spacing: 1.4px; */
    font-family: 'Roboto', sans-serif;
    color: var(--clr-dark);
    background-color: black;
  }
  
  /* .container { /* desnecesspario */
    /* margin: 0;
    /*border: 1px dashed var(--clr-dark); 
  } /**/
  
  .item { /* desnecessário */
    color: var(--clr-light);
  }

