
{% for nft_id in range(40) %}
<div class="nft">
  
  <div class="col1">
  
    <div class="card_container card-bg card-bg-e">
      
      <div class="card-item card-icon">
        <div class="icon-img"></div>
      </div>
      
      <div class="card-item card-lvl">
        <span>Level<br><b>999</b></span>
      </div>
      
      <div class="card-item card-img">
        <img class="card-img-src" src="https://file.mir4global.com/xdraco-thumb/card-nft/taoist-grade4.webp">
      </div>
      
      <div class="card-item card-bottom card-bottom-bg card-bottom-bg-e">              
        <div class="card-name">
          <span>Name longo</span>
        </div>
        
        <div class="card-class">
          <span>classe</span>
        </div>
        
        <div class="card-powerscore">
          <div class="power-name">POWERScore</div>
          <div class="power-value">000,000</div>
        </div>
        
        <div class="card-price">
          <div class="price-name">Price</div>
          <div class="price-value">000,000</div>
        </div>
    </div>
  </div>
  
</div>
  
  <div class="col2 details-container">
  
    <div class="detail-type-container">
      <div class="detail-type-title"><span>Gears</span></div>
    {% for gear_num in range(15, 0, -1) %}
      <div class="detail-enlarger">
        <div class="detail-each-container">
          <div class="detail-enhance">+12</div>
          <div class="equip-img equip-bg-e"><img src="https://file.mir4global.com/xdraco-thumb/Content/UI/Atlas_N_Resource/Icon/Item/Equip/Item_Equip_Pcm_01/Icon_WPN_PCM_09.png" alt="" class="equipment-image"></div>
          <div class="detail-tier"><span>IV</span></div>
        </div>
        </div>
    {% endfor %}
    <!-- </div>
  
    <div class="detail-type-container"> -->
      <div class="detail-type-title"><span>Skills</span></div>
      <div class="detail-enlarger">
        <div class="detail-skill-container">
          <div class="skills-img skill-ma-1 skill-l"></div>
          <div class="skills-tier-1"><span>10</span></div>
        </div>
      </div>
    {% for class_id_smi in range(12) %}
      <div class="detail-enlarger">
      <div class="detail-skill-container">
        <div class="skills-img skill-{{ class_id_smi }}-1 skill-l"></div>
        <div class="detail-tier"><span>00</span></div>
      </div>
      </div>
    {% endfor %}
    <!-- </div>
    
    <div class="detail-type-container"> -->
      <div class="detail-type-title">
          <span>Spirits</span>
      </div>
    {# for class_id_smi in range(23) #}
      <div class="detail-enlarger">
        <div class="detail-each-container">
          <div class="spirits-img-frame spirit-frame-l"><img src="https://file.mir4global.com/xdraco-thumb/Content/UI/Atlas_N_Resource/Icon/Pet/Pet_Portrait/Icon_Item_Pet_Cat03.png" alt="nome do bicho"></div>
          <!-- <div class="spirits-img"></div> -->
          <div class="detail-tier"><span>IV</span></div>
        </div>
      </div>
    {# endfor #}
    <!-- </div>
    
    <div class="detail-type-container"> -->
      <div class="detail-type-title">
          <span>Orbs</span>
      </div>
      {# for class_id_smi in range(23) #}
      <div class="detail-each-container">
        <div class="spirits-img-frame spirit-frame-l"></div>
        <div class="spirits-img"><img src="https://file.mir4global.com/xdraco-thumb/Content/UI/Atlas_N_Resource/Icon/Pet/MagicOrb_Item/Icon_Item_MagicOrb_Pet_bat02.png" alt="nome do bicho"></div>
        <div class="detail-tier"><span>IV</span></div>
      </div>
      {# endfor #}
    <!-- </div>
  
    <div class="detail-type-container"> -->
      <div class="detail-type-title">
          <span>Stones</span>
      </div>
      {# for class_id_smi in range(23) #}
      <div class="detail-each-container">
        <div class="detail-enhance">+12</div>
        <div class="spirits-img-frame spirit-frame-l"></div>
        <div class="spirits-img"><img src="https://file.mir4global.com/xdraco-thumb/Content/UI/Atlas_N_Resource/Icon/Item/Meterial_01/Item_Jewel_Red_005.png" alt="nome do bicho"></div>
        <div class="detail-tier"><span>IV</span></div>
      </div>
      {# endfor #}    
    <!-- </div>
  
    <div class="detail-type-container"> -->
      <div class="detail-type-title">
          <span>Mystical</span>
      </div>
      {# for class_id_smi in range(23) #}
      <div class="detail-each-container">
        <div class="detail-enhance">+12</div>
        <div class="spirits-img-frame spirit-frame-r"></div>
        <div class="spirits-img"><img src="https://file.mir4global.com/xdraco-thumb/Content/UI/Atlas_N_Resource/Icon/Item/Item_MysticalPiece_01/Item_MysticalPiece_Horse03.png" alt="Mystical Pieces XXX"></div>
        <div class="detail-tier"><span>IV</span></div>
      </div>
      {# endfor #}    
    </div>
  
  </div>
    
</div>
 {% endfor %}    
   
