<div class="row">
  <div class="col-2 my-0 py-0 px-2 bg-danger text-center" style="height: 50px;"> LOGO </div>
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start col-9 pe-10">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2 text-white" width="40" height="32" role="img" aria-label="Bootstrap">
        <use xlink:href="#bootstrap"/></svg>
    </a>
  
    <ul class="nav col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
      <li><a href="#" class="nav-link px-2 text-white">Games</a></li>
      <li><a href="#" class="nav-link px-2 text-white">Prizes</a></li>
      <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
      <li><a href="#" class="nav-link px-2 text-white">About</a></li>
    </ul>
  
    <div class="text-end">
      <button type="button" class="btn btn-outline-warning fw-bold">Login</button>
      <button type="button" class="btn btn-outline-danger fw-bold">Sign-up</button>
    </div>
  </div>
</div>